.inspire {

    .card_layout {
        .nft_card {
            // width: 292px;
            @apply border rounded-xl p-4;
            .image_box {
                width: 260px;
                height: 265px;
            }
        }
    }


 
}

.meta_bnb{
    @apply w-full  md:h-screen text-center md:text-left bg-hng-purple p-4   flex items-center  justify-between  text-white;
}