.text {
    @apply  text-hng-black;

    &.title {
        @apply  md:text-[56px] text-3xl;
        line-height: 140%;
        letter-spacing: -2%;
    }

    &.body {
        @apply  md:text-[24px] ;
        // line-height: 35px;
    }

    &.title-big{
        @apply  md:text-[48px] text-2xl;
        font-weight: bold;
    }

    &.body-small{
        @apply  text-[12px] ;
        line-height: 13.2px;

    }

    &.bold{
        font-weight: bold;
    }

}
