.home {
    @apply bg-inherit;
    .hero {
        height: auto;

        &_content-wrapper {
            .text_box {
                span.bold {
                    @apply text-hng-purple font-bold;
                }
            }

            .image_box {
              
                width: 100%;
                height: 100%;
            }
        }
    }



    @media screen and (min-width: 768px) {
        .hero {
            height: 80vh;

            &_content-wrapper {
                .image_box {
                    width: 476px;
                    height: 459px;
                }
            }
        }
    }
}
